# Ignore virtual environments
venv/
env/
*.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Python path configuration files
*.pth

# Ignore logs
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables files
.env

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
